* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-home-padding {
    padding: 20px 70px 50px 32px;
}

.header-channel-padding {
    padding: 20px 70px 30px 32px;
}

.header-wrapper {
    display: flex;
    gap: 59px;
}

.logo {
    display: flex;
    gap: 28px;
}

.primary_btn {
    border: none;
    background-color: white;
}

.search {
    align-content: center;
    position: relative;
}

.search input {
    width: 830px;
    border-radius: 22px;
    border: none;
    background: rgb(235, 235, 235);
    height: 44px;
    padding: 12px 0 12px 23px;
    color: rgb(48, 56, 76);
    line-height: 20.08px;
    font-size: 16px;
}

.search-btn {
    border: none;
    position: absolute;
    display: flex;
    top: 13px;
    bottom: 12px;
    right: 17px;
}

.user {
    display: flex;
    gap: 50px;
}

.notification-icon {
    display: inline-block;
    position: relative;

    &:after {
        content: '3';
        padding: 1px 5px;
        background-color: red;
        border-radius: 50%;
        color: white;
        position: absolute;
        top: -5px;
        right: -5px;
    }
}