@font-face {
    font-family: 'Mulish';
    src: url("/fonts/Mulish-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Mulish', sans-serif;
}

@media (max-width: 320px) {
    .videoplayer-likes {
        display: flex;
        gap: 20px;
        flex-direction: column !important;
        align-items: normal !important;
        padding: 0 16px 5px 16px !important;
    }

    .video-player-title {
        font-size: 20px !important;
        line-height: 25.1px !important;
        color: rgba(25, 32, 44, 1);
        padding: 0 16px !important;
    }

    .view {
        font-size: 12px !important;
    }

    .video-player-background {
        width: 320px !important;
        height: 180px !important;
    }

    .video-player {
        position: relative;
    }

    .video-btn-wrapper, .video-btn {
        position: initial !important;
        display: none;
    }

    .video-player-wrapper {
        padding: 0 !important;
        display: none;
    }

    .desctiption, .btn-show, .published-data {
        display: none;
    }

    .app-wrapper {
        display: flex;
        flex-direction: column;
        padding: 23px 0 !important
    }

    .next-video-wrapper {
        padding: 5px 16px 0 16px !important;
    }

    .next-video-wrapper img {
        width: 100%;
    }

    .video-title, .channel-wrapper-info h3 {
        font-size: 16px !important;
        white-space: nowrap;
    }

    .video-info-wrapper {
        font-size: 13px !important;
    }

    .next-video-title {
        font-size: 26px !important;
    }

    .next-video-autoplay-title {
        font-size: 10px !important;
        letter-spacing: 0.63px !important;
    }

    .channel-wrapper {
        display: flex;
        gap: 42px!important;
        padding: 0 16px 0 16px !important;
    }

    .channel-wrapper-info img {
        width: 50px !important;
        height: 50px !important;
    }
}